.card{
    border: none;

}
.innerCard{
border-radius: 10px;    
background-color: #d0b891;
border: 5px;
padding: 1em;
text-align: center;
}
.content{
padding: 5px 15px 5px 15px;
    margin-bottom: 1.8em;
    // border-left: 1px solid #47a3ba;
}
.hrdash{
    border: 1px dashed #964004;
}
.colg{
    font-style: italic;
    font-size: 20px;
}

.edu{
    display: inline-flex;
    width: 100%;
}
section{
    padding: 40px;
}
.imag , .frstdiv , .scnddiv{
    width: 33%;
}
@media only screen and (max-width: 894px) {
    .imag {
      display: none;
    }
     .frstdiv , .scnddiv{
        width: 50%;
    }
  }
