.card{
    border: none;

}
.innerCard{
border-radius: 10px;    
background-color: #d0b891;
border: 5px;
padding: 1em;
text-align: center;
}

.hrdash{
    border: 1px dashed #964004;
}
.colg{
    font-style: italic;
    font-size: 20px;
}

.edu{
    display: inline-flex;
    width: 100%;
}
section{
    padding: 40px;
}

  .glow {
    position: relative;
    overflow: hidden;
    margin: 0.5em;
  }
  
  .glow::before {
    content: "";
    position: absolute;
    top: -40%;
    left: -40%;
    width: 180%;
    height: 180%;
    background: linear-gradient(45deg, #b13800, #c07f0f);
    animation: rotate 4s linear infinite;
    opacity: 0.1;
    z-index: 0;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .stat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  