<section>
    <h1 class="brown text-center">...Education...</h1>

    <div class="row">
        <div class="col-3 card">
            <div class="innerCard">
                
                    <h5><i class="fa fa-graduation-cap"></i>&nbsp;Master of Computer Applications</h5>
                    <span>2019-2021</span>
                    <hr class="hrdash">
                    <div class="content">
                        <span class="colg">Gujarat Technological University, <br>Gujarat</span><br>
                        <span class="brown fs-5">08.73 CGPA</span>
                    </div>

               
            </div>
        </div>
        <div class="col-3 card">
            <div class="innerCard">
                
                    <h5><i class="fa fa-graduation-cap"></i>&nbsp;Bachelor of Computer Applications</h5>
                    <span>2016-2019</span>
                    <hr class="hrdash">
                    <div class="content">
                        <span class="colg">Maharshi Dayanand Saraswati University, <br>Rajasthan</span><br>
                        <span class="brown fs-5">76%</span>
                    </div>
            </div>
        </div>
        <div class="col-3 card">
            <div class="innerCard">
                
                    <h5><i class="fa fa-graduation-cap"></i>&nbsp;Higher Secondary School Certificate</h5>
                    <span>2015-2016</span>
                    <hr class="hrdash">
                    <div class="content">
                        <span class="colg">Kendriya Vidyalaya,<br> Rajasthan</span><br>
                        <span class="brown fs-5">70.04%</span>
                    </div>
               
            </div>
        </div>
        <div class="col-3 card">
            <div class="innerCard">
                
                    <h5><i class="fa fa-graduation-cap"></i>&nbsp; Secondary School Certificate</h5>
                    <span>2013-2014</span>
                    <hr class="hrdash">
                    <div class="content">
                       
                        <span class="colg">New Look Central School,<br>Rajasthan</span><br>
                        <span class="brown fs-5">CGPA: 08.6 </span>
                    </div>
               
            </div>
            <!-- </div> -->
        </div>
    </div>
</section>