<section class="divstart">

    <h3 class="heading">About Me</h3>
    <p>I am a skilled professional with expertise
        in Angular and Node.js development. I
        have worked with these technologies for
        over a year and have successfully
        handled multiple projects, including
        project deployment, Elasticsearch and
        MySQL. Before this, I had experience
        managing servers and setting up
        Shibboleth and LDAP. I am now seeking
        a challenging career opportunity to
        hone my skills further and contribute to
        a reputable organization in a globally
        competitive environment.</p>
    <div class="row">
        <h3><i class="fa fa-university"></i>&nbsp;Education</h3>
        <div class="col-6">
            <ul type="none">
                <li>
                    <h5><i class="fa fa-graduation-cap"></i>&nbsp;Master of Computer Applications</h5>
                    <div class="content">
                        <span class="year">2019-2021</span><br>
                        <span class="colg">Gujarat Technological University, Gujarat</span><br>
                        <span>08.73 CGPA</span>
                    </div>

                </li>
                <li>
                    <h5><i class="fa fa-graduation-cap"></i>&nbsp;Bachelor of Computer Applications</h5>
                    <div class="content">
                        <span class="year">2016-2019</span><br>
                        <span class="colg">Maharshi Dayanand Saraswati University, Rajasthan</span><br>
                        <span>76%</span>
                    </div>
                </li>
            </ul>


        </div>
        <div class="col-6">
            <ul type="none">
                <li>
                    <h5><i class="fa fa-graduation-cap"></i>&nbsp;Higher Secondary School Certificate</h5>
                    <div class="content">
                        <span class="year">2015-2016</span><br>
                        <span class="colg">Kendriya Vidyalaya, Rajasthan</span><br>
                        <span>70.04%</span>
                    </div>
                </li>
                <li>
                    <h5><i class="fa fa-graduation-cap"></i>&nbsp; Secondary School Certificate</h5>
                    <div class="content">
                        <span class="year">2013-2014</span><br>
                        <span class="colg">New Look Central School,Rajasthan</span><br>
                        <span>CGPA:</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
<p>I have been working as a freelance designer and front-end developer since 2007. I’ve always been someone who has both a creative and a logical side. When I discovered web design in college, I realized it would be the perfect fit. I could use my creative side to design and my logical side to code. As a bonus, being both designer and developer allows me to make sure no detail is lost in translation.</p>
</section>