<section>

    <h2 class="heading"><img src="../../assets/images/lleaves.png" class="leaf"/> ... About Me ... <img src="../../assets/images/rleaves.png" class="leaf"/> </h2>
    <div class="wrapper">
        <div class="card">
            <input type="checkbox" id="card1" class="more" aria-hidden="true">
            <div class="content">
                <div class="front" style="background-image: url('../../assets/images/cdac.png')">
                    <div class="inner">
                        <h2>C-DAC , Mohali</h2>
                        
                        <div class="rating">
                            <h3>2022-current</h3>
                        </div>
                        <label for="card1" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <!-- <h4>Worked in Projects:</h4> -->
                        <!-- <div class="info">
                          
                        </div> -->
                       
                       
                       
                        <div class="description">
                            <ul>
                                <li>Madhusanjaal</li>
                                <li>Madhukosh</li>
                                <li>FolderXplorer</li>
                                <li>Pattern Analysis Engine</li>
                                <li>Ticketing System</li>
                                <li>Early Warning System</li>
                                <li>Enumeration Engine</li>
                            </ul>
                        </div>
                        <div class="location">Worked and Lead in Projects:</div>
                        <label for="card1" class="button return" aria-hidden="true">
                            <i class="fa fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <input type="checkbox" id="card2" class="more">
            <div class="content">
                <div class="front" style="background-image: url('../../assets/images/inflibnet.png')">
                    <div class="inner">
                        <h2>Inflibnet Centre</h2>
                        <div class="rating">
                            <h2>2021-2022</h2>
                        </div>
                        <label for="card2" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                      
                        <div class="description">
                            <ul>
                                <li>Shibboleth</li>
                                <li>InProxy</li>
                                <li>INFED</li>
                                <li>INFED Stats</li>
                            </ul>
                        </div>
                        <div class="location">Worked in Projects:</div>
                        <label for="card2" class="button return" aria-hidden="true">
                            <i class="fa fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="curve"></div>
</section>