<section>

    <h1 class="heading brown"> ... Professional Experience ... </h1>
    <div class="wrapper">
        <div class="row exp">
            <div class="card col-6">
                <input type="checkbox" id="card1" class="more" aria-hidden="true">
                <div class="content">
                    <div class="front" style="background-image: url('../../assets/images/cdac.png')">
                        <div class="inner">
                            <h2>C-DAC , Mohali</h2>

                            <div class="rating">
                                <h3>2022-current</h3>
                            </div>
                            <label for="card1" class="button" aria-hidden="true">
                                Projects
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <div class="description">
                                <ul>
                                    <li>Madhusanjaal</li>
                                    <li>Madhukosh</li>
                                    <li>FolderXplorer</li>
                                    <li>Pattern Analysis Engine</li>
                                    <li>Ticketing System</li>
                                    <li>Early Warning System</li>
                                    <li>Enumeration Engine</li>
                                    <li>Cyber Shield</li>
                                </ul>
                            </div>
                            <div class="location">Worked and Lead in Projects:</div>
                            <label for="card1" class="button return" aria-hidden="true">
                                <i class="fa fa-arrow-left"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <ul type="none">
                    <li><i class="fa fa-bullseye brown"></i> Developed and optimized RESTful APIs using Node.js & Express.js, reducing API response times by 35% through query optimization, and load balancing (PM2).</li>
                    <li><i class="fa fa-bullseye brown"></i> Designed scalable, secure, and maintainable web application architectures using Angular & TypeScript.</li>
                    <li><i class="fa fa-bullseye brown"></i> Led a team of 6+ developers, managing the end-to-end SDLC, ensuring 100% on-time project delivery.</li>
                    <li><i class="fa fa-bullseye brown"></i> Refactored legacy code, improving maintainability and reducing bug occurrences by 25%, using modular coding practices.</li>
                    <li><i class="fa fa-bullseye brown"></i> Developed and deployed a Chat Bot using Angular & Node.js (Socket.io), improving user engagement by 40% through automated responses and predefined workflows.</li>
                    <li><i class="fa fa-bullseye brown"></i> Resolved 25+ security vulnerabilities in Vulnerability and Penetration Testing (VAPT), ensuring compliance with OWASP security standards.</li>
                    <li><i class="fa fa-bullseye brown"></i> Provided technical training & project handover to the CERT-IN Team.</li>
                </ul>
                
            </div>
            <div class="col-6 mt-4">
                <ul type="none">
                    <li><i class="fa fa-bullseye brown"></i> Managed server infrastructure for institutes like IITs, NITs, and IISc, ensuring 99.9% uptime and timely SSL renewal.</li>
                    <li><i class="fa fa-bullseye brown"></i> Set up and configured Shibboleth for Service Providers (SP) and Identity Providers (IdP).</li>
                    <li><i class="fa fa-bullseye brown"></i> Optimized authentication workflows, reducing login time by 20%, improving user experience.</li>
                    <li><i class="fa fa-bullseye brown"></i> Contributed innovative ideas to enhance application functionality based on project needs.</li>
                </ul>
                
            </div>
            <div class="card col-6 mt-4">
                <input type="checkbox" id="card2" class="more">
                <div class="content">
                    <div class="front" style="background-image: url('../../assets/images/inflibnet.png')">
                        <div class="inner">
                            <h2>Inflibnet Centre</h2>
                            <div class="rating">
                                <h2>2021-2022</h2>
                            </div>
                            <label for="card2" class="button" aria-hidden="true">
                                Projects
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">

                            <div class="description">
                                <ul>
                                    <li>Shibboleth</li>
                                    <li>InProxy</li>
                                    <li>INFED</li>
                                    <li>INFED Stats</li>
                                </ul>
                            </div>
                            <div class="location">Worked in Projects:</div>
                            <label for="card2" class="button return" aria-hidden="true">
                                <i class="fa fa-arrow-left"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <!-- <div class="curve"></div> -->
</section>