<!-- <div class="row">
  <div class="col-6">
    <app-download id="resume"></app-download>
  </div>
  <div class="col-6">
    <iframe
      src="https://forms.gle/Y6iaoXZJg95XWKZf9"
   
      style="border: 0; width: 100%; height: 100%;"
      allowfullscreen
    >
    </iframe> 
  </div>
  </div> -->
<footer class="footer" >
	<div class="waves">
		<div class="wave" id="wave1"></div>
		<div class="wave" id="wave2"></div>
		<div class="wave" id="wave3"></div>
		<div class="wave" id="wave4"></div>
	</div>

	<ul class="menu">
		<li class="menu__item"><a class="menu__link" href="#">Contact Me <i class="fa fa-envelope"></i> </a></li>
		<!-- <li class="menu__item"><a class="menu__link" href="#">About us</a></li>
		<li class="menu__item"><a class="menu__link" href="#">Contact us</a></li> -->


	</ul>
	

</footer>

  