<section>
    <h3><i class="fa fa-check-square-o"></i>&nbsp;Skills</h3>
    <p>I have experience with these technologies and tools</p>
    <div class="row">   
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/html.png"/>
                </div>
                <p>HTML</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/css.png"/>
                </div>

                <p>CSS/SCSS</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/angular.png"/>
                </div>
                <p>Angular</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/node.png"/>
                </div>
                <p>NodeJS</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/linux.png"/>
                </div>
                <p>Linux</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/mysql.png"/>
                </div>
                <p>MySQL</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/elastic.png"/>
                </div>
                <p>ElasticSearch</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/express.png"/>
                </div>
                <p>ExpressJs</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/typescript.png"/>
                </div>
                <p>Typescript</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/mongodb.png"/>
                </div>
                <p>MongoDB</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/postman.png"/>
                </div>
                <p>Postman</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/python.png"/>
                </div>
                <p>Python</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/github.png"/>
                </div>
                <p>Github</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/burpsuit.png"/>
                </div>
                <p>Burpsuite</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/apache.png"/>
                </div>
                <p>Apache</p>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/winscp.png"/>
                </div>
                <p>WinSCP</p>
            </div>
        </div>
    </div>
</section>