<section>
    <h3><i class="fa fa-check-square-o"></i>&nbsp;Skills</h3>
    <p>I have experience with these technologies</p>
    <div class="row">   
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/html.png"/>
                </div>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/css.png"/>
                </div>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/angular.png"/>
                </div>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/node.png"/>
                </div>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/linux.png"/>
                </div>
            </div>
        </div>
        <div class="stack">
            <div class="card">
                <div class="image">
                    <img src="../../assets/images/mysql.png"/>
                </div>
            </div>
        </div>

</div>

    <!-- <img src="../../assets/images/css.jpg" class="skills"/> -->
    <!-- <img src="../../assets/images/python.png" class="skills"/> -->

</section>