
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
nav{
  background-color: #a86835;
}

.fixed-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.fixed-header nav ul li {
  margin: 0 15px;
}

.fixed-header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  padding: 10px;
}

.hamburger {
  display: none; // Initially hidden
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 894px) {
  .hamburger {
    display: block; // Show hamburger on mobile
  }
  
  #nav-links {
    display: none; // Hide nav links by default
    flex-direction: column; // Stack links vertically
  }

  #nav-links.active {
    display: flex; // Show links when active
  }
}
/* Existing styles can be included below */

.imgs::before{
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0
}
.imgs{
  width: 100%;
  height: auto;
  // display: inline-flex;
  // background: radial-gradient(#deecf9,#deecf9, #b1c7f0);
  background:#d0b891;
}
.vimg{
  width: 100%;
}
  .intro{
    text-align: center;
    top: 20%;
    position: relative;
    padding: 50px;
    width: 60%;
 
  }
  
  p{
    font-family: cursive;
    font-size: large;
  }

  @media only screen and (max-width: 894px) {
    .vimg {
      display: none;
    }
    .intro{
      width: 100%;
    }
  }
  .social{
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #392338;
    color: #fff;
    border: none;
    margin: 5px;
    display: inline-block;
  }