<div class="sidebar" id="sidebar">
  <ul>
    <li><a href="#home"><i class="fa fa-home"></i></a></li>
    <li><a href="#about"><i class="fa fa-user-o"></i></a></li>
    <li><a href="#services"><i class="fa fa-briefcase"></i></a></li>
    <li><a href="#contact"><i class="fa fa-envelope"></i></a></li>
  </ul>
</div>

<div class="main-content" id="main-content">
  <section class="imgs">
    <div class="content">
      <h1>Tanushree Gangwal</h1>
      <div class="content__container">
        <p class="content__container__text">I'm</p>
        <ul class="content__container__list">
          <li class="content__container__list__item">Full Stack Developer</li>
          <li class="content__container__list__item">Freelancer</li>
        </ul>
      </div>
    </div>
  </section>

  <div>
    <app-about></app-about>
  </div>
</div>
