<div class="main-content" id="main-content">
  <div>
     <div class="imgs row">
    <nav class="circle-menu col-1">
      <label for="toggle" class="fa fa-bars"></label>
      <input type="checkbox" id="toggle" checked />

      <menu>
        <a href="#">
          <li class="fa fa-home"></li>
        </a>
        <a href="#aboutme">
          <li class="fa fa-user"></li>
        </a>
        <a href="#skills">
          <li class="fa fa-diamond"></li>
        </a>
        <a href="#certificates">
          <li class="fa fa-certificate"></li>
        </a>
      </menu>
    </nav>

    <div class="intro col-6">
      <h1 style="color: #665437;">Hey! My name is Tanushree Gangwal. </h1>
        <h2>Full Stack Developer | NodeJs | Angular</h2>
      <p>I have been working as a Full Stack Developer since 2021, blending my problem-solving skills with a passion for
        coding. My journey into web development began in college, where I discovered the intersection of design and
        functionality. While I don't consider myself a designer, I excel at translating pre-designed concepts into
        clean, efficient code, ensuring that every project is executed flawlessly from concept to completion.
        <br>
        With over 3+ years of experience, I specialize in crafting dynamic, user-centric, and scalable web applications.
        My expertise lies in building robust backends with Node.js, creating interactive frontends using Angular, and
        managing databases with MySQL and PostgreSQL. I am proficient in the MEAN stack, skilled in designing responsive
        UI components with Angular Material and Bootstrap 5, and experienced in building RESTful and GraphQL APIs, working with
        Elasticsearch queries, and integrating third-party services.
        <br>
        My passion for development drives me to continually learn and grow, ensuring I can always deliver the best
        possible solutions for every project.
      </p>
      <p>
        <a href="https://www.linkedin.com/in/tanushree-gangwal" target="_blank" class="social"><i
            class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Tanushree-jain" target="_blank" class="social"> <i class="fa fa-github"></i></a>
      </p>
    </div>

    <img src="../assets/images/myimg.png" class="vimg col-4" />

  </div>
  <img src="../assets/svg/wave.svg" />
</div>
  <div>

    <app-about id="aboutme"></app-about>
    <app-education></app-education>
    <app-skills id="skills"></app-skills>
    <app-certificates id="certificates"></app-certificates>
    <!-- <app-download id="resume"></app-download> -->
    <!-- <app-contact></app-contact> -->
    <div>
    </div>
  </div>
</div>