<header class="fixed-header">
  <nav>
    <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
    <ul id="nav-links">
      <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="#aboutme"><i class="fa fa-briefcase"></i> Experience</a></li>
      <li><a href="#aboutme"><i class="fa fa-graduation-cap"></i> Education</a></li>
      <li><a href="#skills"><i class="fa fa-check-square-o"></i> Skills</a></li>
      <li><a href="#certificates"><i class="fa fa-certificate"></i> Certificates</a></li>
    </ul>
  </nav>
</header>
<div class="main-content" id="main-content">
  <section class="imgs row" style="margin-left: 0px;">
    <div class="intro col-7">
      <h1 class="brown">Hey! My name is Tanushree Gangwal. </h1>
        <h2>Full Stack Developer | NodeJs | Angular</h2>
      <p>I have been working as a Full Stack Developer since 2021, blending my problem-solving skills with a passion for
        coding. My journey into web development began in college, where I discovered the intersection of design and
        functionality. While I don't consider myself a designer, I excel at translating pre-designed concepts into
        clean, efficient code, ensuring that every project is executed flawlessly from concept to completion.
        <br>
        With over <strong class="brown"> 3+ years </strong>of experience, I specialize in crafting dynamic, user-centric, and scalable web applications.
        My expertise lies in building robust backends with  <strong class="brown">Node.js</strong>, creating interactive frontends using <strong class="brown">Angular</strong>, and
        managing databases with  <strong class="brown">MySQL</strong> and  <strong class="brown">MongoDB</strong>. I am proficient in the  <strong class="brown">>MEAN stack</strong>, skilled in designing responsive
        UI components with Angular Material and Bootstrap 5, and experienced in building <strong class="brown">RESTful and GraphQL APIs </strong>, working with
        <strong class="brown"> Elasticsearch </strong>queries, and integrating third-party services.
        <br>
        My passion for development drives me to continually learn and grow, ensuring I can always deliver the best
        possible solutions for every project.
      </p>
      <p>
        <a href="https://www.linkedin.com/in/tanushree-gangwal" target="_blank" class="social"><i
            class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Tanushree-jain" target="_blank" class="social"> <i class="fa fa-github"></i></a>
       
      </p>
    </div>
<div class="col-4">
    <img src="../assets/images/myimg.png" class="vimg" />
  </div>
  </section>
  <img src="../assets/svg/wave.svg" />
  <div>

    <app-about id="aboutme"></app-about>
    <app-education></app-education>
    <app-skills id="skills"></app-skills>
    <app-certificates id="certificates"></app-certificates>
    <!-- <app-download id="resume"></app-download> -->
    <!-- <app-contact></app-contact> -->
    <div>
    </div>
  </div>
</div>