<section>
    <h3><i class="fa fa-certificate"></i> &nbsp;Certificates</h3>
    <div class="thumbs">
        <a href="#target1"><img src='../../assets/resume/android.png' alt=''></a>
        <a href="#target2"><img src='../../assets/resume/ethical_hacking.png' alt=''></a>
        <a href="#target3"><img src='../../assets/resume/full_stack.png' alt=''></a>
      </div>
      
      <div class="lightbox">
        <div class="target" id="target1">
          <span>
           
          </span>
          <div class="content">
            <img src='../../assets/resume/android.png' alt=''>
          </div>
          <a href="#target2" class="fa fa-chevron-right nav" title="next"></a>
        </div>
        <div class="target" id="target2">
          <a href="#target1" class="fa fa-chevron-left nav" title="previous"></a>
          <div class="content"><img src='../../assets/resume/ethical_hacking.png' alt=''></div>
          <a href="#target3" class="fa fa-chevron-right nav" title="next"></a>
        </div>
        <div class="target" id="target3">
          <a href="#target2" class="fa fa-chevron-left nav" title="previous"></a>
          <div class="content"><img src='../../assets/resume/full_stack.png' alt=''></div>
          <span>
           
          </span>
        </div>
        <a href="#!" class="fa fa-times close nav"></a>
      </div>
    </section>
