<section>
  <h1 class="brown text-center">...Certificates...</h1>
  <h3 class="text-center">
    <a href="https://github.com/Tanushree-jain/certificates" target="_blank">Check Out My Certifications 📜</a>
  </h3>
    <!-- <div class="thumbs">
        <a href="#target1"><img src='../../assets/resume/android.png' alt=''></a>
        <a href="#target2"><img src='../../assets/resume/ethical_hacking.png' alt=''></a>
        <a href="#target3"><img src='../../assets/resume/full_stack.png' alt=''></a>
        <a href="#target4"><img src='../../assets/resume/digital_marketing.png' alt=''></a>
        <a href="#target5"><img src='../../assets/resume/data_analysis.png' alt=''></a>
        <a href="#target6"><img src='../../assets/resume/data_science.png' alt=''></a>
        <a href="#target7"><img src='../../assets/resume/data_visualize.png' alt=''></a>

      </div>
      
      <div class="lightbox">
        <div class="target" id="target1">
          <span>
           
          </span>
          <div class="content">
            <img src='../../assets/resume/android.png' alt=''>
          </div>
          <a href="#target2" class="fa fa-chevron-right nav" title="next"></a>
        </div>
        <div class="target" id="target2">
          <a href="#target1" class="fa fa-chevron-left nav" title="previous"></a>
          <div class="content"><img src='../../assets/resume/ethical_hacking.png' alt=''></div>
          <a href="#target3" class="fa fa-chevron-right nav" title="next"></a>
        </div>
        <div class="target" id="target3">
          <a href="#target2" class="fa fa-chevron-left nav" title="previous"></a>
          <div class="content"><img src='../../assets/resume/full_stack.png' alt=''></div>
          <a href="#target4" class="fa fa-chevron-right nav" title="next"></a>
        </div>
        <div class="target" id="target4">
          <a href="#target3" class="fa fa-chevron-left nav" title="previous"></a>
          <div class="content"><img src='../../assets/resume/digital_marketing.png' alt=''></div>
          <a href="#target5" class="fa fa-chevron-right nav" title="next"></a>
        </div>
        <div class="target" id="target5">
          <a href="#target4" class="fa fa-chevron-left nav" title="previous"></a>
          <div class="content"><img src='../../assets/resume/data_analysis.png' alt=''></div>
          <a href="#target6" class="fa fa-chevron-right nav" title="next"></a>
        </div>
        <div class="target" id="target6">
          <a href="#target5" class="fa fa-chevron-left nav" title="previous"></a>
          <div class="content"><img src='../../assets/resume/data_science.png' alt=''></div>
          <a href="#target7" class="fa fa-chevron-right nav" title="next"></a>
        </div>
        <div class="target" id="target7">
          <a href="#target6" class="fa fa-chevron-left nav" title="previous"></a>
          <div class="content"><img src='../../assets/resume/data_visualize.png' alt=''></div>
          <span>
           
          </span>
        </div>
        <a href="#!" class="fa fa-times close nav"></a>
      </div> -->
    </section>
