.divstart{
    margin-top: 10px;
}
h3 , h1{
    font-family: "Alice";
    
}

.heading{
    text-align: center;
    text-decoration: double;
    text-decoration-line: underline;
    font-size: x-large;
}
