.divstart{
    margin-top: 10px;
}
h3 , h1,h2{
    font-family: "Alice";
    
}

.heading{
    text-align: center;
    text-decoration: wavy;
    text-decoration-line: underline;
}
p{
    font-family: cursive;
    font-size: large;
}
